<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="#">STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            тут чтото будет
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>    
</body>
</html>
